.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    @media screen {
        height: 60px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .logo-container {
        height: 120%;
        width: 100px;
        padding: 25px;
        
        @media screen {
            width: 50px;
            padding: 0;
        }
        
    }
    .logo {
        width: 50px;
        height: 39px;
    }
    
    .links {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        @media screen {
            width: 80%;
            
        }

        .link {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}